@model IEnumerable<PromoDH.Models.Registro>
@{ ViewData["Title"] = "Códigos"; }
@{ Layout = "~/Views/Shared/_Manager.cshtml"; }
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@*<asp:button id="cmdExport" runat="server" text="Exportar Excel" />*@
<script>
	@{
		var pagina = @HttpContextAccessor.HttpContext.Session.GetInt32("PAG_CODIGOS");
		var total_paginas = @HttpContextAccessor.HttpContext.Session.GetInt32("TOT_PAG_CODIGOS");
	}
</script>
<h3>Códigos</h3>
<div class="botonera top">
	<a asp-area="" asp-controller="Manager" asp-action="DescargarCodigos">Descargar códigos</a>
</div>
<div class="table-responsive">
	<table class="dataTabla">
		<thead>
			<tr>
				<th>ID</th>
				<th>Código</th>
				<th>Email</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Fecha</th>
				<th>Dirección</th>
				<th>Ciudad</th>
				<th>Provincia</th>
				<th>Teléfono</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
				<tr>
					<td>@Html.DisplayFor(model => item.Id)</td>
					<td>@Html.DisplayFor(model => item.codigo)</td>
					<td>@Html.DisplayFor(model => item.Email)</td>
					<td>@Html.DisplayFor(model => item.Nombre)</td>
					<td>@Html.DisplayFor(model => item.Apellido)</td>
					<td>@Html.DisplayFor(model => item.fecha_str)</td>
					<td>@Html.DisplayFor(model => item.Direccion)</td>
					<td>@Html.DisplayFor(model => item.Localidad)</td>
					<td>@Html.DisplayFor(model => item.Provincia)</td>
					<td>@Html.DisplayFor(model => item.Telefono)</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="paginador">
    @if (pagina > 1)
    {
        <a asp-action="CodigosAnterior" class="ant">&#x25C0;&nbsp;&nbsp;Anterior</a>
    }
    @if (total_paginas > 0)
    {
        <span>@pagina.ToString() /  @total_paginas.ToString()</span>
    }
    @if (pagina < total_paginas)
    {
        <a asp-action="CodigosSiguiente" class="sig">Siguiente&nbsp;&nbsp;&#x25BA;</a>
    }
</div>

@if (ViewBag.Message != null) {
	<script type="text/javascript">
		window.onload = function () {
			alert('@Html.Raw(ViewBag.Message)');
		};
</script>
}