@model IEnumerable<PromoDH.Models.Contacto>
@{ ViewData["Title"] = "Consulta"; }
@{ Layout = "~/Views/Shared/_Manager.cshtml"; }
<h3>Consulta</h3>
@foreach (var item in Model) {
	<dl>
		<dt>ID</dt>
		<dd>@Html.DisplayFor(model => item.Id)</dd>
		<dt>Email</dt>
		<dd>@Html.DisplayFor(model => item.Email)</dd>
		<dt>Nombre</dt>
		<dd>@Html.DisplayFor(model => item.Nombre)</dd>
		<dt>Apellido</dt>
		<dd>@Html.DisplayFor(model => item.Apellido)</dd>
		<dt>Fecha</dt>
		<dd>@Html.DisplayFor(model => item.fecha)</dd>
		<dt>Dirección</dt>
		<dd>@Html.DisplayFor(model => item.Direccion)</dd>
		<dt>Localidad</dt>
		<dd>@Html.DisplayFor(model => item.Localidad)</dd>
		<dt>Provincia</dt>
		<dd>@Html.DisplayFor(model => item.Provincia)</dd>
		<dt>Teléfono</dt>
		<dd>@Html.DisplayFor(model => item.Telefono)</dd>
		<dt>Móvil</dt>
		<dd>@Html.DisplayFor(model => item.Movil)</dd>
		<dt>Consulta</dt>
		<dd>@Html.DisplayFor(model => item.Consulta)</dd>
	</dl>
	<div class="botonera bottom">
		<a asp-area="" asp-controller="Manager" asp-action="Consultas">Volver</a>
	</div>
}
@if (ViewBag.Message != null) {
	<script type="text/javascript">
	window.onload = function () {
		alert('@Html.Raw(ViewBag.Message)');
	};
</script>
}
