@model IEnumerable<PromoDH.Models.Sembrado>
@{ ViewData["Title"] = "Premios"; }
@{ Layout = "~/Views/Shared/_Manager.cshtml"; }
@*<asp:button id="cmdExport" runat="server" text="Exportar Excel" />*@
<h3>Premios</h3>
<div class="table-responsive">
	<table class="dataTabla">
		<thead>
			<tr>
				<th>Descripción</th>
				<th>ID</th>
				<th>Fecha Hora</th>
				<th>Registro</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
				<tr>
					<td>@Html.DisplayFor(model => item.descripcion)</td>
					<td>@Html.DisplayFor(model => item.id)</td>
					<td>@Html.DisplayFor(model => item.fecha_hora)</td>
					<td>@Html.DisplayFor(model => item.registro_id)</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@if (ViewBag.Message != null)
{
	<script type="text/javascript">
	window.onload = function () {
		alert('@Html.Raw(ViewBag.Message)');
	};
</script>
}
