@model IEnumerable<PromoDH.Models.Premio>
@{ ViewData["Title"] = "Index"; }
@{ Layout = null; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo "TopLine Lollapalooza 2023"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="gan">
  <header>
    <h1><a href="~/">Promo "TopLine Lollapalooza 2023"</a></h1>
    <a href="javascript;" class="menu-open">Men&uacute;</a>
  </header>
  <div id="menu-blocker"></div>
  <nav id="menu">
    <a href="#" class="menu-close">Cerrar men&uacute;</a>
    <img src="~/images/menu-logo.png" class="logo" />
    <ul>
      <li><a href="~/">Home</a></li>
      <li><a href="~/Carga/CargarCodigo">Carg&aacute;<br />tu c&oacute;digo</a></li>
      <li><a href="~/Bases">Bases<br />y condiciones</a></li>
      <li class="sel">Listado<br />de premios</li>
      <li><a href="~/FAQs">Preguntas<br />frecuentes</a></li>
      <li><a href="~/Contacto">Contacto</a></li>
    </ul>
  </nav>
  <div class="elems elems-mobile">
    <img src="~/images/mano.png" class="elem1" />
  </div>
  <div class="elems elems-desktop">
    <img src="~/images/elem-04.gif" class="elem1" />
    <img src="~/images/elem-09.gif" class="elem2" />
    <img src="~/images/elem-07.gif" class="elem3" />
    <img src="~/images/mano.png" class="elem4" />
  </div>
  <main>
    <div class="header">
      <div class="img showFromLeft">
        <img src="images/elem-17.gif" class="float" />
      </div>
      <div class="titulo">
        <span class="h2"><h2>Premios <span class="break"><span class="txt1">y</span> <span class="txt2">Ganadores</span></span></h2></span>
        <p class="nota">Si figurás en este listado, <span class="txt1">conservá el paquete.</span> <span class="txt2">Te llamaremos!</span></p>
      </div>
    </div>
    <div class="textos">
      <div class="nano">
        <div class="nano-content @(Model.Count()==0  ? " noganadoresContainer center" : "")">
          <table>
						<thead style="@(Model.Count()==0  ? "visibility:hidden" : "")">
              <tr>
                <th>DNI</th>
                <th>Premio</th>
              </tr>
              </thead>
              <tbody>
                @foreach (var item in Model) {
                  <tr>
                    <td>@Html.DisplayFor(model => item.DniEncriptado)</td>
                    <td>@Html.DisplayFor(model => item.PremioDesc)</td>
                  </tr>
                }
                @if (@Model.Count() == 0) {
                  <h4>No hay ganadores<br />hasta el momento</h4>
                }
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </main>

</body>
</html>