@model PromoDH.Models.PreguntaPromo
@{
        ViewData["Title"] = "PreguntaAzar";
}

    <!doctype html>
    <html lang="es" class="scroll">
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a la promo Topline Seven</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
        <link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
        <script type="text/javascript" src="scripts/html5shiv.min.js"></script>
        <script type="text/javascript" src="scripts/respond.min.js"></script>
        <![endif] -->
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="~/js/jQuery.plugins.js"></script>
        <script type="text/javascript" src="~/js/jQuery.js"></script>
    </head>
    <body id="int">
        <form asp-action="GrabarRespuesta">
            <header>
                <h1>Promo "Topline Seven"</h1>
            </header>
            <img src="~/images/intro-slide1.png" alt="Podés ganar $1.000.000 y premios espectaculares" class="coin" />
            <main>
                <div class="container">
                    <div class="textos notitle">
                        <div class="static juego">
                            <div class="pregunta2">
                                <h3>Estás más cerca de ganar, responde esta pregunta:</h3>
                                <p class="codigo">ZCTYCeLCkA</p>
                                
                                            <div class="form-group">
                                                <label asp-for="@Model.pregunta" class="control-label">@Model.pregunta</label>
                                            </div>

                                            <div class="form-group">
                                                <input type="radio" asp-for="@Model.r1" value="0"  name="resp"/>
                                                <label asp-for="@Model.r1" class="control-label">@Model.r1</label><br />
                                                <input type="radio" asp-for="@Model.r2" value="0" name="resp"/>
                                                <label asp-for="@Model.r2" class="control-label">@Model.r2</label><br />
                                                <input type="radio" asp-for="@Model.r3" value="0" name="resp" />
                                                <label asp-for="@Model.r3" class="control-label">@Model.r3</label><br />
                                            </div>
                                    
                                        <div class="form-group">
                                            <input type="submit" value="Responder" class="btn btn-success btn-sm" />
                                            </div>
           
                                </div>
                            </div>
                    </div>
                </div>
            </main>
            <footer>
                <p>
                    SIN OBLIGACI&Oacute;N DE COMPRA. V&Aacute;LIDA DEL 18/05/20 AL 13/09/20. CONSULTE LA INFORMACI&Oacute;N EN LAS BASES Y CONDICIONES EN ESTA WEB. INGRESANDO DATOS PERSONALES Y DATOS DEL PRODUCTO PARTICIPA POR PREMIOS OFRECIDOS.<br />
                    CONSERVE LOS ENVASES DE PRODUCTOS INGRESADOS.
                </p>
            </footer>
        </form>
    </body>
</html>

